{% extends "layout.html" %} {% block title %}Query{% endblock %} {% block body %}

<body>
    <div class="container">
        <div class="jumbotron">

            <h1 class="display-3">Description:</h1>
            <form class="" action="./query/" method="post">
                <div class="form-group">
                    <textarea name="query" rows="3" placeholder="type some words and search through title, lyrics and description" style="font-size:150%" class="form-control"></textarea>
                </div>
                <!-- <div class="form-group row">
                    <label for="example-text-input2" class="col-sm-2 col-form-label">Title:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="title" id="example-text-input2">
                    </div>
                </div> -->
                <div class="form-group row">
                    <label for="example-text-input2" class="col-sm-2 col-form-label">Year:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="year" id="example-text-input3">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input2" class="col-sm-2 col-form-label">Artist:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="artist" id="example-text-input4">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input2" class="col-sm-2 col-form-label">Release(Album):</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="release" id="example-text-input5">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input2" class="col-sm-2 col-form-label">Location:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="location" id="example-text-input6">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="example-text-input2" class="col-sm-2 col-form-label">Artist Longitude:</label>
                    <label for="example-text-input2" class="col-sm-1 col-form-label">Min</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="min_longitude" id="min1">
                    </div>
                    <label for="example-text-input2" class="col-sm-1 col-form-label">Max</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="max_longitude" id="max1">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-text-input2" class="col-sm-2 col-form-label">Artist Latitude:</label>
                    <label for="example-text-input2" class="col-sm-1 col-form-label">Min</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="min_latitude" id="min2">
                    </div>
                    <label for="example-text-input2" class="col-sm-1 col-form-label">Max</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="max_latitude" id="max2">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="example-text-input2" class="col-sm-2 col-form-label">Duration:</label>
                    <label for="example-text-input2" class="col-sm-1 col-form-label">Min</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="min_duration" id="min3">
                    </div>
                    <label for="example-text-input2" class="col-sm-1 col-form-label">Max</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name="max_duration" id="max3">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="sel1" class="col-sm-2 col-form-label">Genre:</label>
                    <div class="col-sm-6">
                      <select class="form-control" id="sel1" name="genre">
                        <option></option>
                        <option>Jazz</option>
                        <option>Hip hop</option>
                        <option>Punk rock</option>
                        <option>Pop</option>
                        <option>Blues</option>
                        <option>Reggae</option>
                        <option>Country</option>
                        <option>Funk</option>
                        <option>Folk</option>
                        <option>Rapping</option>

                      </select>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
{% endblock %}
