<!--
<div class="search-background">
<img src="https://i.ytimg.com/vi/oNHJFn_B-HQ/maxresdefault.jpg">
</div> -->

<!DOCTYPE html>
<html lang=en>
	<meta charset=UTF-8>
	<meta http-equiv=X-UA-Compatible content="IE=edge">
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel=bookmark href="/favicon.ico" type=image/x-icon>
	<title>Music Go Homepage</title>
	<link rel=stylesheet href="static/style.css">
	<div class=wrap id=wrap>
		<div class=wrapper>
			<div class=page_wp id=page_wp>
				<div class="page page_1"><span class="page_bg scale_box"></span>
					<div class=img_box><img src="" alt=""></div>
					<div class="txt_box scale_box">
						<h2>Welcome to MusicGo Home Page</h2>
						<p class=txt_brief style="text-align: center">From now on, you don't need to worry about music search problem!</div>
				</div>
				<div class="page page_2"><span class="page_bg scale_box"></span>
					<div class=img_box><img src="" alt=""></div>
					<div class="txt_box scale_box">
						<h2>Feature 1</h2>
						<p class=txt_brief style="text-align: center">We support baisc title and lyrics search for whatever you want!</div>
				</div>
				<div class="page page_3"><span class="page_bg scale_box"></span>
					<div class=img_box><img src="" alt=""></div>
					<div class="txt_box scale_box">
						<h2>Feature 2</h2>
						<p class=txt_brief style="text-align: center">We support many filters, like duration, artist, genre, etc!</div>
				</div>
				<div class="page page_4"><span class="page_bg scale_box"></span>
					<div class=img_box><img src="" alt=""></div>
					<div class="light_wp scale_box"><span class=light_box><i class=light_1></i> <i class=light_2></i> <i class=light_3></i> <i class=light_4></i> <i class=light_5></i></span></div><span class="meteor_box scale_box"></span>
					<div class="txt_box scale_box">
						<h2>Feature 3</h2>
						<p class=txt_brief style="text-align: center">You can find hotttest songs near your position!!!</div>
				</div>
			</div>
			<div class="star_wp scale_box" id=star_wp><span class=star_bg></span> <span class=star_box></span></div><canvas id=canvas></canvas>
			<div class="btns_wp scale_box">
				<a class="btn_download JS-btn-download" href='#myModal' data-toggle="modal" data-target="#myModal" id="toggle_modal1">Start Search</a>
			</div>
			<div class=btn_control id=btn_control>
				<a href=javascript:; class=cur></a>
				<a href=javascript:;></a>
				<a href=javascript:;></a>
				<a href=javascript:;></a>
			</div>
		</div>
	</div>
	<script src="{{ url_for('static', filename='vendors.js') }}"></script>
	<script src="{{ url_for('static', filename='index.js') }}"></script>

{% extends "layout.html" %}

{% block title %}Query{% endblock %}
