{% extends "layout.html" %} {% block title %}Search Result Page{% endblock %} {% block body %}



<body>

 <div class="container theme-showcase" role="main">
    <br>    <br>    <br>    <br>    <br>    <br>
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Sort By
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="{{baseurl}}query?hot=0">hotness</a></li>
          <li><a href="{{baseurl}}query?dance=0">danceability</a></li>
        </ul>
      </div>
      <br>



      {% for i in range(0,results|length): %} <!-- <p>Document Number:{{k}}</p> -->

      <div class="well"  data-toggle="modal" data-target="#myModal<%= @i %>">
        <font size="3" face="verdana">
        <strong>  {{ i+1 }} <sup>th</sup> </strong>
        <a href={{ "./"+results[i][0]}}><strong>{{results[i][1]['title']}}</strong></a>
        </font>
        <p>
             <font size="2" face="verdana" color=grey>
                 <strong>{{results[i][1]['artist_name']}}</strong>
             </font>
         </p>

         <p>
           <div class="comment more">
               {{results[i][1]['lyric']}}
           </div>
         </p>
         <p>
           <a href="./more/{{i}}"><button type="button" name="mlt" class="btn btn-default">more like this</button></a>
         </p>
     </div>

     {% endfor %}






  </div>



  <script type="text/javascript">
      $(".comment").shorten({"showChars": 450});
      $(document).ready(function() {$(".comment").shorten();});
  </script>



</body>

{% endblock %}
